.third-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    background-color: #ffffff;
    color: #3770e1;
    border-radius: 5px;
    border: 1px solid #3a3838;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.third-container-title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
}


.title-left {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.shield-icon {
    font-size: 44px;
    color: #0078d4;
}

.title-text {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    white-space: nowrap;
}

.third-container-buttons {
    display: flex;
    gap: 6px;
    align-items: center;
}

.window-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background: #d9d9d9;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-btn:hover {
    background: #c0c0c0;
}

.close-btn {
    color: red;
}

.third-container-footer {
    width: 100%;
    margin-top: auto;
    padding: 12px 16px;
    border-top: 1px solid #d2cccc;
    display: flex;
    margin-left: 10px;
    justify-content: flex-start;
    gap: 10px;
}

.footer-btn {
  background: #eb2525;
  color: #fff;
  padding: 12px 34px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.2s ease;
}

